:root {
  --blue: #00acdc;
}

.logo {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 60px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
  }

  &__link:hover,
  &__link.is-active,
  &__link[data-qa='hover']:hover {
    color: var(--blue);
  }

  &__link.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
  }
}
